In [ ]:
import pandas
import ibm_db_dbi
import ibm_db
from sqlalchemy import create_engine

In [ ]:
dsn_hostname = "1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud"
dsn_uid = "xkk84284"        # e.g. "abc12345"
dsn_pwd = "QdRxktEwkW0eOMFE"      # e.g. "7dBZ3wWt9XN6$o0J"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "bludb"            # e.g. "BLUDB"
dsn_port = "32286"                # e.g. "32733"
dsn_protocol = "TCPIP"            # i.e. "TCPIP"
dsn_security = "SSL"          #i.e. "SSL"

In [ ]:
# Create database connection
# DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

In [ ]:
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)
conn = ibm_db.connect(dsn, "", "")

In [ ]:
pconn = ibm_db_dbi.Connection(conn)

In [ ]:
df = pandas.read_sql('select ELEMENTARY__MIDDLE__OR_HIGH_SCHOOL from CHICAGO',pconn)
df

In [ ]:
df = pandas.read_sql('select * from CHICAGO',pconn)
df

In [ ]:
df.describe(include='all')

# Question 1. Calculate the total number of students in each grade level.

In [ ]:
q1 = pandas.read_sql(
  """
  SELECT
      `Elementary, Middle, or High School`,
      COUNT(*) as total_number_of_students
  FROM chicago
  GROUP BY `Elementary, Middle, or High School`;
  """,
pconn)
q1

# QUESTION 2.Find the top 5 student groups with the largest number and highest safety

In [ ]:
q2 = pandas.read_sql(
  """
  SELECT
    NAME_OF_SCHOOL,SAFETY_SCORE,
    SAFETY_ICON
  FROM chicago
  WHERE SAFETY_SCORE not like \'%NONE%\'
  ORDER BY SAFETY_SCORE DESC LIMIT 5
  """
  ,pconn)
q2

# Question 3. Calculate average of AVERAGE_STUDENT_ATTENDANCE of 10 schools with least SAFETY_SCORE

In [ ]:
q3 = pandas.read_sql(
    """
    SELECT ROUND(AVG(CAST(REPLACE(AVERAGE_STUDENT_ATTENDANCE, '%', '') AS DECIMAL(5, 2))),2) AS average_attendance
    FROM (
        SELECT 
            Name_OF_SCHOOL,
            AVERAGE_STUDENT_ATTENDANCE,
            SAFETY_SCORE
        FROM chicago
        ORDER BY SAFETY_SCORE
        LIMIT 10
    ) AS subquery;
    """, 
pconn
)
q3

# Question 4. Find 10 High school with highest College_Eligibility__ score.

In [ ]:
import pandas as pd

# SQL query to select the top 10 schools with the highest College_Eligibility_Score
q4 = pd.read_sql(
    """
    SELECT Name_OF_SCHOOL, CAST(College_Eligibility__ AS FLOAT) AS College_Eligibility_Score
    FROM chicago
    WHERE COLLEGE_ELIGIBILITY__ NOT LIKE '%NDA%'
    ORDER BY College_Eligibility_Score DESC
    LIMIT 10;
    """,
    pconn
)
q4

In [ ]:
! pip install openpyxl

In [ ]:
! mamba install openpyxl==3.0.9 -y

In [ ]:
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library

In [ ]:
! pip3 install folium==0.5.0
import folium

print('Folium installed and imported!')

In [ ]:
# define the world map
world_map = folium.Map()

# display world map
world_map

# CHICAGO MAP

In [ ]:
# define the Chicago map with a higher zoom level
chicago_map = folium.Map(location=[41.84969736, -87.6252787], zoom_start=12)

# display Chicago map
chicago_map

#save Chicago map into .html
chicago_map.save('chicago.html')

In [ ]:
folium.Marker([42.01017628, -87.68446868])

#### Figure out all school destination

In [ ]:
import folium

print('Folium installed and imported!')

In [ ]:
# define the world map
world_map = folium.Map()

# display world map
world_map

In [ ]:
loc = pd.read_sql('SELECT REPLACE(REPLACE(Location, \'(\', \'\'), \')\', \'\') as des FROM CHICAGO', pconn)
loc

In [ ]:
kd = pd.read_sql('SELECT Latitude FROM Chicago',pconn)
vd = pd.read_sql('SELECT Longitude FROM Chicago',pconn)

In [ ]:
sl = """SELECT * FROM CHICAGO"""
df = pd.read_sql(sl,pconn)
from folium.plugins import MarkerCluster
chicago_map = folium.Map(location=[41.84969736, -87.6252787], zoom_start=12)


tooltip = 'Click me!'


df1 = df[['LATITUDE','LONGITUDE','NAME_OF_SCHOOL']]
# df2 = df[['LATITUDE','LONGITUDE']]
marker_cluster = MarkerCluster().add_to(chicago_map)
for index, row in df1.iterrows():
    latitude = row['LATITUDE']
    longitude = row['LONGITUDE']
    label = row['NAME_OF_SCHOOL']
    folium.Marker([latitude, longitude],
                popup=folium.Popup(label,parse_html=True,max_width='1000000%'),
                icon=folium.Icon(icon='glyphicon glyphicon-headphones',)).add_to(marker_cluster)

chicago_map.save('chicathanh.html')
chicago_map

In [ ]:
import folium
import pandas as pd

# Define the Chicago map with a higher zoom level
chicago_map = folium.Map(location=[41.84969736, -87.6252787], zoom_start=12)

# Assuming you have DataFrames 'kd' and 'vd' with latitude and longitude data
# Replace 'LATITUDE' and 'LONGITUDE' with your actual column names
url = "https://leafletjs.com/examples/custom-icons/{}".format
icon_image = url("leaf-red.png")
shadow_image = url("leaf-shadow.png")

icon = folium.CustomIcon(
    icon_image,
    icon_size=(38, 95),
    icon_anchor=(22, 94),
    shadow_image=shadow_image,
    shadow_size=(50, 64),
    shadow_anchor=(4, 62),
    popup_anchor=(-3, -76),
)
# Iterate through rows in 'kd' and 'vd' DataFrames and add markers
for index, row in kd.iterrows():
    latitude = row['LATITUDE']  # Replace 'LATITUDE' with your actual column name
    longitude = vd.iloc[index]['LONGITUDE']  # Replace 'LONGITUDE' with your actual column name

    # Create markers with latitude and longitude
    folium.Marker(location=[latitude, longitude]).add_to(chicago_map)

# Save the Chicago map to an HTML file
chicago_map.save('chicago.html')

# Display the Chicago map (if running in a Jupyter Notebook or interactive environment)
chicago_map

In [ ]:
ibm_db.close()