In [ ]:
! pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3

Collecting ibm_db==3.1.0
  Downloading ibm_db-3.1.0.tar.gz (797 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 797.3/797.3 kB 6.3 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Collecting ibm_db_sa==0.3.3
  Downloading ibm_db_sa-0.3.3.tar.gz (24 kB)
  Preparing metadata (setup.py) ... done
Collecting sqlalchemy>=0.7.3 (from ibm_db_sa==0.3.3)
  Downloading SQLAlchemy-2.0.21-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 57.1 MB/s eta 0:00:00
Collecting typing-extensions>=4.2.0 (from sqlalchemy>=0.7.3->ibm_db_sa==0.3.3)
  Downloading typing_extensions-4.8.0-py3-none-any.whl (31 kB)
Collecting greenlet!=0.4.17 (from sqlalchemy>=0.7.3->ibm_db_sa==0.3.3)
  Downloading greenlet-2.0.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (613 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 613.7/613.7 kB 44.8 MB/s eta 0:00:00
Building wheels for collected packages: ibm_db, ibm_db_sa
  Building wheel for ibm_db (pyproject.toml) ... done
  Created wheel for ibm_db: filename=ibm_db-3.1.0-cp310-cp310-linux_x86_64.whl size=41721380 sha256=3d4b48fe21f499c86292062642e39ca31c42db29ee5080f7787c8fefaf4333c5
  Stored in directory: /root/.cache/pip/wheels/50/d7/3d/cf01ca490baa2f299aca0c791a2a5708d9b9676608374e2f31
  Building wheel for ibm_db_sa (setup.py) ... done
  Created wheel for ibm_db_sa: filename=ibm_db_sa-0.3.3-py3-none-any.whl size=27421 sha256=8471e5018015591a20766613bb107ff1c2060a75f347f6c285452da9cde06dc1
  Stored in directory: /root/.cache/pip/wheels/63/28/d7/aea2c85d7ff99e1e8dffc7424367812bf53659141c203f2c9a
Successfully built ibm_db ibm_db_sa
Installing collected packages: ibm_db, typing-extensions, greenlet, sqlalchemy, ibm_db_sa
  Attempting uninstall: typing-extensions
    Found existing installation: typing_extensions 4.5.0
    Uninstalling typing_extensions-4.5.0:
      Successfully uninstalled typing_extensions-4.5.0
  Attempting uninstall: greenlet
    Found existing installation: greenlet 2.0.2
    Uninstalling greenlet-2.0.2:
      Successfully uninstalled greenlet-2.0.2
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.20
    Uninstalling SQLAlchemy-2.0.20:
      Successfully uninstalled SQLAlchemy-2.0.20
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow 2.13.0 requires typing-extensions<4.6.0,>=3.6.6, but you have typing-extensions 4.8.0 which is incompatible.
Successfully installed greenlet-2.0.2 ibm_db-3.1.0 ibm_db_sa-0.3.3 sqlalchemy-2.0.21 typing-extensions-4.8.0

In [ ]:
! pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24

Found existing installation: SQLAlchemy 2.0.21
Uninstalling SQLAlchemy-2.0.21:
  Successfully uninstalled SQLAlchemy-2.0.21
Collecting sqlalchemy==1.3.24
  Downloading SQLAlchemy-1.3.24.tar.gz (6.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.4/6.4 MB 74.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.24-cp310-cp310-linux_x86_64.whl size=1252700 sha256=de82a48dbe437eea80f024be1edd7cd50657d6aa6c2b24b42727052061dc1ab5
  Stored in directory: /root/.cache/pip/wheels/27/51/b3/3481e88d5a5ba95dd4aafedc9316774d941c4ba61cfb93add8
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.24 which is incompatible.
Successfully installed sqlalchemy-1.3.24

In [ ]:
! pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.10/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (3.8.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (7.34.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Using cached SQLAlchemy-2.0.21-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (67.7.2)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Downloading jedi-0.19.0-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 24.1 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (3.0.39)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Installing collected packages: sqlalchemy, jedi
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
Successfully installed jedi-0.19.0 sqlalchemy-2.0.21

In [ ]:
import ibm_db

ModuleNotFoundError: ignored

In [ ]:
dsn_hostname = "54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud" # e.g.: "54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud"
dsn_uid = "lpg30698"        # e.g. "abc12345"
dsn_pwd = "ZKnImiyfGqvzksPe"      # e.g. "7dBZ3wWt9XN6$o0J"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "bludb"            # e.g. "BLUDB"
dsn_port = "32733"                # e.g. "32733"
dsn_protocol = "TCPIP"            # i.e. "TCPIP"
dsn_security = "SSL"              #i.e. "SSL"

In [ ]:
#Create database connection
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  bludb as user:  lpg30698 on host:  54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud

In [ ]:
#Lets first drop the table INSTRUCTOR in case it exists from a previous attempt
dropQuery = "drop table INSTRUCTOR"

#Now execute the drop statment
dropStmt = ibm_db.exec_immediate(conn, dropQuery)

NameError: ignored

In [ ]:
#Construct the Create Table DDL statement - replace the ... with rest of the statement
createQuery = "create table INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, \
FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2))"

#Now fill in the name of the method and execute the statement
createStmt = ibm_db.exec_immediate(conn, createQuery)

NameError: ignored

In [ ]:
#Construct the query - replace ... with the insert statement
insertQuery = "insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')"

insertStmt = ibm_db.exec_immediate(conn, insertQuery)

In [ ]:
#replace ... with the insert statement that inerts the remaining two rows of data
insertQuery2 = "insert into INSTRUCTOR values (2, 'Raul', 'Chong', 'Markham', 'CA'),\
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')"

insertStmt2 = ibm_db.exec_immediate(conn, insertQuery2)

In [ ]:
#Construct the query that retrieves all rows from the INSTRUCTOR table
selectQuery = "select * from INSTRUCTOR"

#Execute the statement
selectStmt = ibm_db.exec_immediate(conn, selectQuery)

#Fetch the Dictionary (for the first row only) - replace ... with your code
ibm_db.fetch_both(selectStmt)

NameError: ignored

In [ ]:
#Fetch the rest of the rows and print the ID and FNAME for those rows
while ibm_db.fetch_row(selectStmt) != False:
   print (" ID:",  ibm_db.result(selectStmt, 0), " FNAME:",  ibm_db.result(selectStmt, "FNAME"))

 ID: 2  FNAME: Raul
 ID: 3  FNAME: Hima

In [ ]:
import ibm_db

In [ ]:
import ibm_db
ibm_db.connect("DATABASE=bludb;HOSTNAME=54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud;PORT=32733;PROTOCOL=TCPIP;UID=lpg30698;PWD=ZKnImiyfGqvzksPe;", "", "")

In [ ]:
stmt = ibm_db.exec_immediate(conn,"select ELEMENTARY__MIDDLE__OR_HIGH_SCHOOL from CHICAGO_TAB")

In [ ]:
ibm_db.fetch_both(stmt)

{'ELEMENTARY__MIDDLE__OR_HIGH_SCHOOL': 'ES', 0: 'ES'}

In [ ]:
import pandas
import ibm_db_dbi

In [ ]:
pconn = ibm_db_dbi.Connection(conn)

In [ ]:
df = pandas.read_sql('select ELEMENTARY__MIDDLE__OR_HIGH_SCHOOL from CHICAGO_TAB',pconn)

<ipython-input-20-87d024597937>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pandas.read_sql('select ELEMENTARY__MIDDLE__OR_HIGH_SCHOOL from CHICAGO_TAB',pconn)

In [ ]:
df

    ELEMENTARY__MIDDLE__OR_HIGH_SCHOOL
0                                   ES
1                                   ES
2                                   ES
3                                   ES
4                                   HS
..                                 ...
561                                 ES
562                                 ES
563                                 ES
564                                 ES
565                                 HS

[566 rows x 1 columns]

In [ ]:
df = pandas.read_sql('select * from CHICAGO_TAB',pconn)

<ipython-input-22-645f9c8ab0ec>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pandas.read_sql('select * from CHICAGO_TAB',pconn)

In [ ]:
df

,SCHOOL_ID,NAME_OF_SCHOOL,ELEMENTARY__MIDDLE__OR_HIGH_SCHOOL,STREET_ADDRESS,CITY,STATE,ZIP_CODE,PHONE_NUMBER,LINK,NETWORK_MANAGER,...,FRESHMAN_ON_TRACK_RATE__,X_COORDINATE,Y_COORDINATE,LATITUDE,LONGITUDE,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,WARD,POLICE_DISTRICT,LOCATION
0,610038,Abraham Lincoln Elementary School,ES,615 W Kemper Pl,Chicago,IL,60614,(773) 534-5720,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,1171699.458,1915829.428,41.924497,-87.644522,7,LINCOLN PARK,43,18,"(41.92449696, -87.64452163)"
1,610281,Adam Clayton Powell Paideia Community Academy ...,ES,7511 S South Shore Dr,Chicago,IL,60649,(773) 535-6650,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,NDA,1196129.985,1856209.466,41.760324,-87.556736,43,SOUTH SHORE,7,4,"(41.76032435, -87.55673627)"
2,610185,Adlai E Stevenson Elementary School,ES,8010 S Kostner Ave,Chicago,IL,60652,(773) 535-2280,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,...,NDA,1148427.165,1851012.215,41.747111,-87.731702,70,ASHBURN,13,8,"(41.74711093, -87.73170248)"
3,609993,Agustin Lara Elementary Academy,ES,4619 S Wolcott Ave,Chicago,IL,60609,(773) 535-4389,http://schoolreports.cps.edu/SchoolProgressRep...,Pershing Elementary Network,...,NDA,1164504.290,1873959.199,41.809757,-87.672145,61,NEW CITY,20,9,"(41.8097569, -87.6721446)"
4,610513,Air Force Academy High School,HS,3630 S Wells St,Chicago,IL,60609,(773) 535-1590,http://schoolreports.cps.edu/SchoolProgressRep...,Southwest Side High School Network,...,91.8,1175177.622,1880745.126,41.828146,-87.632794,34,ARMOUR SQUARE,11,9,"(41.82814609, -87.63279369)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,610172,William T Sherman Elementary School,ES,1000 W 52nd St,Chicago,IL,60609,(773) 535-1757,http://schoolreports.cps.edu/SchoolProgressRep...,AUSL Schools,...,NDA,1170500.817,1870373.159,41.799788,-87.650255,61,NEW CITY,16,9,"(41.79978772, -87.65025483)"
562,609844,William W Carter Elementary School,ES,5740 S Michigan Ave,Chicago,IL,60637,(773) 535-0860,http://schoolreports.cps.edu/SchoolProgressRep...,Burnham Park Elementary Network,...,NDA,1178101.365,1866810.123,41.789841,-87.622490,40,WASHINGTON PARK,20,2,"(41.78984129, -87.62248974)"
563,610088,Wolfgang A Mozart Elementary School,ES,2200 N Hamlin Ave,Chicago,IL,60647,(773) 534-4160,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,1150644.396,1914368.955,41.920927,-87.721925,22,LOGAN SQUARE,35,25,"(41.92092734, -87.72192541)"
564,609977,Woodlawn Community Elementary School,ES,6657 S Kimbark Ave,Chicago,IL,60637,(773) 535-0801,http://schoolreports.cps.edu/SchoolProgressRep...,Burnham Park Elementary Network,...,NDA,1185825.188,1860883.579,41.773400,-87.594356,42,WOODLAWN,5,3,"(41.77339962, -87.59435584)"
565,610392,World Language Academy High School,HS,3120 S Kostner Ave,Chicago,IL,60623,(773) 535-4334,http://schoolreports.cps.edu/SchoolProgressRep...,West Side High School Network,...,76,1147521.302,1883405.128,41.836020,-87.734195,30,SOUTH LAWNDALE,22,10,"(41.83601953, -87.73419465)"

In [ ]:
df.describe(include='all')

,SCHOOL_ID,NAME_OF_SCHOOL,ELEMENTARY__MIDDLE__OR_HIGH_SCHOOL,STREET_ADDRESS,CITY,STATE,ZIP_CODE,PHONE_NUMBER,LINK,NETWORK_MANAGER,...,FRESHMAN_ON_TRACK_RATE__,X_COORDINATE,Y_COORDINATE,LATITUDE,LONGITUDE,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,WARD,POLICE_DISTRICT,LOCATION
count,566.000000,566,566,566,566,566,566.000000,566,565,566,...,566,5.660000e+02,5.660000e+02,566.000000,566.000000,566.000000,566,566.000000,566.000000,566
unique,NaN,566,3,550,1,1,NaN,564,565,20,...,79,NaN,NaN,NaN,NaN,NaN,77,NaN,NaN,550
top,NaN,Abraham Lincoln Elementary School,ES,3120 S Kostner Ave,Chicago,IL,NaN,(773) 534-1530,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,NaN,NaN,NaN,NaN,NaN,AUSTIN,NaN,NaN,"(41.83601953, -87.73419465)"
freq,NaN,1,462,4,566,566,NaN,2,1,41,...,479,NaN,NaN,NaN,NaN,NaN,23,NaN,NaN,4
mean,609681.791519,NaN,NaN,NaN,NaN,NaN,60629.727915,NaN,NaN,NaN,...,NaN,1.163016e+06,1.885663e+06,41.841890,-87.677323,37.706714,NaN,22.060071,11.710247,NaN
std,8831.060946,NaN,NaN,NaN,NaN,NaN,20.248024,NaN,NaN,NaN,...,NaN,1.605930e+04,3.285688e+04,0.090361,0.058390,21.584135,NaN,13.645574,6.688582,NaN
min,400018.000000,NaN,NaN,NaN,NaN,NaN,60605.000000,NaN,NaN,NaN,...,NaN,1.118114e+06,1.817242e+06,41.653674,-87.841052,1.000000,NaN,1.000000,1.000000,NaN
25%,609873.250000,NaN,NaN,NaN,NaN,NaN,60618.000000,NaN,NaN,NaN,...,NaN,1.152166e+06,1.860248e+06,41.771866,-87.717152,23.000000,NaN,10.000000,7.000000,NaN
50%,610052.500000,NaN,NaN,NaN,NaN,NaN,60625.000000,NaN,NaN,NaN,...,NaN,1.163553e+06,1.886889e+06,41.845521,-87.675878,31.500000,NaN,21.000000,10.000000,NaN
75%,610212.750000,NaN,NaN,NaN,NaN,NaN,60639.000000,NaN,NaN,NaN,...,NaN,1.174256e+06,1.911652e+06,41.913584,-87.636059,58.000000,NaN,32.750000,17.000000,NaN
max,610544.000000,NaN,NaN,NaN,NaN,NaN,60827.000000,NaN,NaN,NaN,...,NaN,1.202811e+06,1.950960e+06,42.021064,-87.533007,77.000000,NaN,50.000000,25.000000,NaN

#### Question 1. Calculate the total number of students in each grade level.

In [ ]:
qo = pandas.read_sql('select ELEMENTARY__MIDDLE__OR_HIGH_SCHOOL, count(*) as total_number_of_students from CHICAGO_TAB group by ELEMENTARY__MIDDLE__OR_HIGH_SCHOOL',pconn)

<ipython-input-29-8cad97b60df9>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  qo = pandas.read_sql('select ELEMENTARY__MIDDLE__OR_HIGH_SCHOOL, count(*) as total_number_of_students from CHICAGO_TAB group by ELEMENTARY__MIDDLE__OR_HIGH_SCHOOL',pconn)

In [ ]:
qo

  ELEMENTARY__MIDDLE__OR_HIGH_SCHOOL  TOTAL_NUMBER_OF_STUDENTS
0                                 ES                       462
1                                 HS                        93
2                                 MS                        11

#### Question 3. Calculate average of AVERAGE_STUDENT_ATTENDANCE of 10 schools with least SAFETY_SCORE

In [ ]:
qt = pandas.read_sql(
    'SELECT AVG(CAST(REPLACE(AVERAGE_STUDENT_ATTENDANCE, \'%\', \'\') AS DECIMAL(5, 2))) AS average_attendance '
    'FROM (SELECT Name_OF_SCHOOL, AVERAGE_STUDENT_ATTENDANCE, SAFETY_SCORE '
          'FROM CHICAGO_TAB '
          'ORDER BY SAFETY_SCORE ASC '
          'LIMIT 10) AS subquery;', pconn)

<ipython-input-65-c949ab019a57>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  qt = pandas.read_sql(

In [ ]:
qt

   AVERAGE_ATTENDANCE
0               89.12

#### Question 4. Find 10 High school with highest College_Eligibility__ score.

In [ ]:
import pandas as pd

# SQL query to select the top 10 schools with the highest College_Eligibility_Score
qf = pd.read_sql(
    'SELECT Name_OF_SCHOOL, CAST(College_Eligibility__ AS FLOAT) AS College_Eligibility_Score '
    'FROM CHICAGO_TAB '
    'WHERE COLLEGE_ELIGIBILITY__ NOT LIKE \'%NDA%\' '  # Use single quotes to escape %
    'ORDER BY College_Eligibility_Score DESC '
    'LIMIT 10',
    pconn
)

<ipython-input-46-cfe3d21ae316>:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  qf = pd.read_sql(

In [ ]:
qf

,NAME_OF_SCHOOL,COLLEGE_ELIGIBILITY_SCORE
0,Northside College Preparatory High School,98.0
1,Walter Payton College Preparatory High School,96.4
2,Whitney M Young Magnet High School,89.0
3,William Jones College Preparatory High School,83.3
4,Albert G Lane Technical High School,67.9
5,Northside Learning Center High School,66.7
6,Jacqueline B Vaughn Occupational High School,55.6
7,Lincoln Park High School,53.6
8,Gwendolyn Brooks College Preparatory Academy H...,51.1
9,DeVry University Advantage Academy High School,40.6

In [ ]:
pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)

In [ ]:
!mamba install openpyxl==3.0.9 -y

/bin/bash: line 1: mamba: command not found

In [ ]:
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library

In [ ]:
!pip3 install folium==0.5.0
import folium

print('Folium installed and imported!')

Collecting folium==0.5.0
  Downloading folium-0.5.0.tar.gz (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.2/79.2 kB 1.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: branca in /usr/local/lib/python3.10/dist-packages (from folium==0.5.0) (0.6.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from folium==0.5.0) (3.1.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from folium==0.5.0) (2.31.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from folium==0.5.0) (1.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->folium==0.5.0) (2.1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->folium==0.5.0) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->folium==0.5.0) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->folium==0.5.0) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->folium==0.5.0) (2023.7.22)
Building wheels for collected packages: folium
  Building wheel for folium (setup.py) ... done
  Created wheel for folium: filename=folium-0.5.0-py3-none-any.whl size=76115 sha256=7940e08d757938d2ae204367acf308e4ae82aa4fdd87ff9677350afa7da5b397
  Stored in directory: /root/.cache/pip/wheels/f2/b2/ba/4d13deef259f0f71ed55c132ea89c37a5731d342858e46f42e
Successfully built folium
Installing collected packages: folium
  Attempting uninstall: folium
    Found existing installation: folium 0.14.0
    Uninstalling folium-0.14.0:
      Successfully uninstalled folium-0.14.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
datascience 0.17.6 requires folium>=0.9.1, but you have folium 0.5.0 which is incompatible.
geemap 0.26.0 requires folium>=0.13.0, but you have folium 0.5.0 which is incompatible.
Successfully installed folium-0.5.0

Folium installed and imported!

In [ ]:
# define the world map
world_map = folium.Map()

# display world map
world_map

#### CHICAGO MAP

In [ ]:
# define the Chicago map with a higher zoom level
chicago_map = folium.Map(location=[41.84969736, -87.6252787], zoom_start=12)

# display Chicago map
chicago_map

#save Chicago map into .html
chicago_map.save('chicago.html')

In [ ]:
folium.Marker([42.01017628, -87.68446868])

#### Figure out all school destination

In [ ]:
loc = pd.read_sql('SELECT REPLACE(REPLACE(Location, \'(\', \'\'), \')\', \'\') as des FROM CHICAGO_TAB', pconn)

NameError: ignored

In [ ]:
loc

NameError: ignored

In [ ]:
import folium
import pandas as pd

# Define the Chicago map with a higher zoom level
chicago_map = folium.Map(location=[41.84969736, -87.6252787], zoom_start=12)

# Assuming you have DataFrames 'kd' and 'vd' with latitude and longitude data
# Replace 'LATITUDE' and 'LONGITUDE' with your actual column names

# Iterate through rows in 'kd' and 'vd' DataFrames and add markers
for index, row in kd.iterrows():
    latitude = row['LATITUDE']  # Replace 'LATITUDE' with your actual column name
    longitude = vd.iloc[index]['LONGITUDE']  # Replace 'LONGITUDE' with your actual column name

    # Create markers with latitude and longitude
    folium.Marker([latitude, longitude]).add_to(chicago_map)

# Save the Chicago map to an HTML file
chicago_map.save('chicago.html')

# Display the Chicago map (if running in a Jupyter Notebook or interactive environment)
chicago_map

NameError: ignored

In [ ]:
ibm_db.close()

NameError: ignored