In [1]:
import pandas
import ibm_db_dbi
import ibm_db
from sqlalchemy import create_engine

In [2]:
dsn_hostname = "1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud"
dsn_uid = "xkk84284"        # e.g. "abc12345"
dsn_pwd = "QdRxktEwkW0eOMFE"      # e.g. "7dBZ3wWt9XN6$o0J"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "bludb"            # e.g. "BLUDB"
dsn_port = "32286"                # e.g. "32733"
dsn_protocol = "TCPIP"            # i.e. "TCPIP"
dsn_security = "SSL"          #i.e. "SSL"

In [3]:
db2_connection_string = (
    f'db2://{dsn_uid}:{dsn_pwd}@{dsn_hostname}:{dsn_port}/{dsn_database}'
    ':SECURITY=SSL;PROTOCOL=TCP/IP;'
)

In [4]:
engine = create_engine(db2_connection_string)
connection = engine.connect()

OperationalError: (ibm_db_dbi.OperationalError) ibm_db_dbi::OperationalError: [IBM][CLI Driver] SQL30081N  A communication error has been detected. Communication protocol being used: "TCP/IP".  Communication API being used: "SOCKETS".  Location where the error was detected: "52.117.249.178".  Communication function detecting the error: "recv".  Protocol specific error code(s): "104", "*", "0".  SQLSTATE=08001 SQLCODE=-30081
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
# Create database connection
# DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

In [5]:
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)
conn = ibm_db.connect(dsn, "", "")

In [6]:
pconn = ibm_db_dbi.Connection(conn)

In [7]:
df = pandas.read_sql('select ELEMENTARY__MIDDLE__OR_HIGH_SCHOOL from CHICAGO',pconn)
df

/tmp/ipykernel_99120/3664535758.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pandas.read_sql('select ELEMENTARY__MIDDLE__OR_HIGH_SCHOOL from CHICAGO',pconn)

    ELEMENTARY__MIDDLE__OR_HIGH_SCHOOL
0                                   ES
1                                   ES
2                                   ES
3                                   ES
4                                   HS
..                                 ...
561                                 ES
562                                 ES
563                                 ES
564                                 ES
565                                 HS

[566 rows x 1 columns]

In [8]:
df = pandas.read_sql('select * from CHICAGO',pconn)
df

/tmp/ipykernel_99120/1664103188.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pandas.read_sql('select * from CHICAGO',pconn)

,SCHOOL_ID,NAME_OF_SCHOOL,ELEMENTARY__MIDDLE__OR_HIGH_SCHOOL,STREET_ADDRESS,CITY,STATE,ZIP_CODE,PHONE_NUMBER,LINK,NETWORK_MANAGER,...,FRESHMAN_ON_TRACK_RATE__,X_COORDINATE,Y_COORDINATE,LATITUDE,LONGITUDE,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,WARD,POLICE_DISTRICT,LOCATION
0,610038,Abraham Lincoln Elementary School,ES,615 W Kemper Pl,Chicago,IL,60614,(773) 534-5720,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,1171699.458,1915829.428,41.924497,-87.644522,7,LINCOLN PARK,43,18,"(41.92449696, -87.64452163)"
1,610281,Adam Clayton Powell Paideia Community Academy ...,ES,7511 S South Shore Dr,Chicago,IL,60649,(773) 535-6650,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,NDA,1196129.985,1856209.466,41.760324,-87.556736,43,SOUTH SHORE,7,4,"(41.76032435, -87.55673627)"
2,610185,Adlai E Stevenson Elementary School,ES,8010 S Kostner Ave,Chicago,IL,60652,(773) 535-2280,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,...,NDA,1148427.165,1851012.215,41.747111,-87.731702,70,ASHBURN,13,8,"(41.74711093, -87.73170248)"
3,609993,Agustin Lara Elementary Academy,ES,4619 S Wolcott Ave,Chicago,IL,60609,(773) 535-4389,http://schoolreports.cps.edu/SchoolProgressRep...,Pershing Elementary Network,...,NDA,1164504.290,1873959.199,41.809757,-87.672145,61,NEW CITY,20,9,"(41.8097569, -87.6721446)"
4,610513,Air Force Academy High School,HS,3630 S Wells St,Chicago,IL,60609,(773) 535-1590,http://schoolreports.cps.edu/SchoolProgressRep...,Southwest Side High School Network,...,91.8,1175177.622,1880745.126,41.828146,-87.632794,34,ARMOUR SQUARE,11,9,"(41.82814609, -87.63279369)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,610172,William T Sherman Elementary School,ES,1000 W 52nd St,Chicago,IL,60609,(773) 535-1757,http://schoolreports.cps.edu/SchoolProgressRep...,AUSL Schools,...,NDA,1170500.817,1870373.159,41.799788,-87.650255,61,NEW CITY,16,9,"(41.79978772, -87.65025483)"
562,609844,William W Carter Elementary School,ES,5740 S Michigan Ave,Chicago,IL,60637,(773) 535-0860,http://schoolreports.cps.edu/SchoolProgressRep...,Burnham Park Elementary Network,...,NDA,1178101.365,1866810.123,41.789841,-87.622490,40,WASHINGTON PARK,20,2,"(41.78984129, -87.62248974)"
563,610088,Wolfgang A Mozart Elementary School,ES,2200 N Hamlin Ave,Chicago,IL,60647,(773) 534-4160,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,1150644.396,1914368.955,41.920927,-87.721925,22,LOGAN SQUARE,35,25,"(41.92092734, -87.72192541)"
564,609977,Woodlawn Community Elementary School,ES,6657 S Kimbark Ave,Chicago,IL,60637,(773) 535-0801,http://schoolreports.cps.edu/SchoolProgressRep...,Burnham Park Elementary Network,...,NDA,1185825.188,1860883.579,41.773400,-87.594356,42,WOODLAWN,5,3,"(41.77339962, -87.59435584)"
565,610392,World Language Academy High School,HS,3120 S Kostner Ave,Chicago,IL,60623,(773) 535-4334,http://schoolreports.cps.edu/SchoolProgressRep...,West Side High School Network,...,76,1147521.302,1883405.128,41.836020,-87.734195,30,SOUTH LAWNDALE,22,10,"(41.83601953, -87.73419465)"

In [9]:
df.describe(include='all')

,SCHOOL_ID,NAME_OF_SCHOOL,ELEMENTARY__MIDDLE__OR_HIGH_SCHOOL,STREET_ADDRESS,CITY,STATE,ZIP_CODE,PHONE_NUMBER,LINK,NETWORK_MANAGER,...,FRESHMAN_ON_TRACK_RATE__,X_COORDINATE,Y_COORDINATE,LATITUDE,LONGITUDE,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,WARD,POLICE_DISTRICT,LOCATION
count,566.000000,566,566,566,566,566,566.000000,566,565,566,...,566,5.660000e+02,5.660000e+02,566.000000,566.000000,566.000000,566,566.000000,566.000000,566
unique,NaN,566,3,550,1,1,NaN,564,565,20,...,79,NaN,NaN,NaN,NaN,NaN,77,NaN,NaN,550
top,NaN,Abraham Lincoln Elementary School,ES,3120 S Kostner Ave,Chicago,IL,NaN,(773) 534-1530,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,NaN,NaN,NaN,NaN,NaN,AUSTIN,NaN,NaN,"(41.83601953, -87.73419465)"
freq,NaN,1,462,4,566,566,NaN,2,1,41,...,479,NaN,NaN,NaN,NaN,NaN,23,NaN,NaN,4
mean,609681.791519,NaN,NaN,NaN,NaN,NaN,60629.727915,NaN,NaN,NaN,...,NaN,1.163016e+06,1.885663e+06,41.841890,-87.677323,37.706714,NaN,22.060071,11.710247,NaN
std,8831.060946,NaN,NaN,NaN,NaN,NaN,20.248024,NaN,NaN,NaN,...,NaN,1.605930e+04,3.285688e+04,0.090361,0.058390,21.584135,NaN,13.645574,6.688582,NaN
min,400018.000000,NaN,NaN,NaN,NaN,NaN,60605.000000,NaN,NaN,NaN,...,NaN,1.118114e+06,1.817242e+06,41.653674,-87.841052,1.000000,NaN,1.000000,1.000000,NaN
25%,609873.250000,NaN,NaN,NaN,NaN,NaN,60618.000000,NaN,NaN,NaN,...,NaN,1.152166e+06,1.860248e+06,41.771866,-87.717152,23.000000,NaN,10.000000,7.000000,NaN
50%,610052.500000,NaN,NaN,NaN,NaN,NaN,60625.000000,NaN,NaN,NaN,...,NaN,1.163553e+06,1.886889e+06,41.845521,-87.675878,31.500000,NaN,21.000000,10.000000,NaN
75%,610212.750000,NaN,NaN,NaN,NaN,NaN,60639.000000,NaN,NaN,NaN,...,NaN,1.174256e+06,1.911652e+06,41.913584,-87.636059,58.000000,NaN,32.750000,17.000000,NaN
max,610544.000000,NaN,NaN,NaN,NaN,NaN,60827.000000,NaN,NaN,NaN,...,NaN,1.202811e+06,1.950960e+06,42.021064,-87.533007,77.000000,NaN,50.000000,25.000000,NaN

# Question 1. Calculate the total number of students in each grade level.

In [10]:
q1 = pandas.read_sql(
  """
  SELECT
      `Elementary, Middle, or High School`,
      COUNT(*) as total_number_of_students
  FROM chicago
  GROUP BY `Elementary, Middle, or High School`;
  """,
pconn)
q1

/tmp/ipykernel_99120/928180158.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  q1 = pandas.read_sql(

DatabaseError: Execution failed on sql '
  SELECT
      `Elementary, Middle, or High School`,
      COUNT(*) as total_number_of_students
  FROM chicago
  GROUP BY `Elementary, Middle, or High School`;
  ': ibm_db_dbi::ProgrammingError: Statement Execute Failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0007N  The statement was not processed because a character that is not supported in SQL statements was included in the SQL statement.  Invalid character: "`".  Text preceding the invalid character: "SELECT       ".  SQLSTATE=42601 SQLCODE=-7

# QUESTION 2.Find the top 5 student groups with the largest number and highest safety

In [11]:
q2 = pandas.read_sql(
  """
  SELECT
    NAME_OF_SCHOOL,SAFETY_SCORE,
    SAFETY_ICON
  FROM chicago
  WHERE SAFETY_SCORE not like \'%NONE%\'
  ORDER BY SAFETY_SCORE DESC LIMIT 5
  """
  ,pconn)
q2

/tmp/ipykernel_99120/2988197443.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  q2 = pandas.read_sql(

                                 NAME_OF_SCHOOL  SAFETY_SCORE  SAFETY_ICON
0             Abraham Lincoln Elementary School            99  Very Strong
1   Edgar Allan Poe Elementary Classical School            99  Very Strong
2           Augustus H Burley Elementary School            99  Very Strong
3  Annie Keller Elementary Gifted Magnet School            99  Very Strong
4       Alexander Graham Bell Elementary School            99  Very Strong

# Question 3. Calculate average of AVERAGE_STUDENT_ATTENDANCE of 10 schools with least SAFETY_SCORE

In [12]:
q3 = pandas.read_sql(
    """
    SELECT ROUND(AVG(CAST(REPLACE(AVERAGE_STUDENT_ATTENDANCE, '%', '') AS DECIMAL(5, 2))),2) AS average_attendance
    FROM (
        SELECT 
            Name_OF_SCHOOL,
            AVERAGE_STUDENT_ATTENDANCE,
            SAFETY_SCORE
        FROM chicago
        ORDER BY SAFETY_SCORE
        LIMIT 10
    ) AS subquery;
    """, 
pconn
)
q3

/tmp/ipykernel_99120/3159168582.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  q3 = pandas.read_sql(

   AVERAGE_ATTENDANCE
0               89.12

# Question 4. Find 10 High school with highest College_Eligibility__ score.

In [13]:
import pandas as pd

# SQL query to select the top 10 schools with the highest College_Eligibility_Score
q4 = pd.read_sql(
    """
    SELECT Name_OF_SCHOOL, CAST(College_Eligibility__ AS FLOAT) AS College_Eligibility_Score
    FROM chicago
    WHERE COLLEGE_ELIGIBILITY__ NOT LIKE '%NDA%'
    ORDER BY College_Eligibility_Score DESC
    LIMIT 10;
    """,
    pconn
)
q4

/tmp/ipykernel_99120/2676566423.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  q4 = pd.read_sql(

,NAME_OF_SCHOOL,COLLEGE_ELIGIBILITY_SCORE
0,Northside College Preparatory High School,98.0
1,Walter Payton College Preparatory High School,96.4
2,Whitney M Young Magnet High School,89.0
3,William Jones College Preparatory High School,83.3
4,Albert G Lane Technical High School,67.9
5,Northside Learning Center High School,66.7
6,Jacqueline B Vaughn Occupational High School,55.6
7,Lincoln Park High School,53.6
8,Gwendolyn Brooks College Preparatory Academy H...,51.1
9,DeVry University Advantage Academy High School,40.6

In [ ]:
! pip install openpyxl

In [ ]:
! mamba install openpyxl==3.0.9 -y

In [ ]:
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library

In [ ]:
! pip3 install folium==0.5.0
import folium

print('Folium installed and imported!')

In [ ]:
# define the world map
world_map = folium.Map()

# display world map
world_map

# CHICAGO MAP

In [ ]:
# define the Chicago map with a higher zoom level
chicago_map = folium.Map(location=[41.84969736, -87.6252787], zoom_start=12)

# display Chicago map
chicago_map

#save Chicago map into .html
chicago_map.save('chicago.html')

In [ ]:
folium.Marker([42.01017628, -87.68446868])

#### Figure out all school destination

In [ ]:
import folium

print('Folium installed and imported!')

In [ ]:
# define the world map
world_map = folium.Map()

# display world map
world_map

In [ ]:
loc = pd.read_sql('SELECT REPLACE(REPLACE(Location, \'(\', \'\'), \')\', \'\') as des FROM CHICAGO', pconn)
loc

In [ ]:
kd = pd.read_sql('SELECT Latitude FROM Chicago',pconn)
vd = pd.read_sql('SELECT Longitude FROM Chicago',pconn)

In [ ]:
sl = """SELECT * FROM CHICAGO"""
df = pd.read_sql(sl,pconn)
from folium.plugins import MarkerCluster
chicago_map = folium.Map(location=[41.84969736, -87.6252787], zoom_start=12)


tooltip = 'Click me!'


df1 = df[['LATITUDE','LONGITUDE','NAME_OF_SCHOOL']]
# df2 = df[['LATITUDE','LONGITUDE']]
marker_cluster = MarkerCluster().add_to(chicago_map)
for index, row in df1.iterrows():
    latitude = row['LATITUDE']
    longitude = row['LONGITUDE']
    label = row['NAME_OF_SCHOOL']
    folium.Marker([latitude, longitude],
                popup=folium.Popup(label,parse_html=True,max_width='1000000%'),
                icon=folium.Icon(icon='glyphicon glyphicon-headphones',)).add_to(marker_cluster)

chicago_map.save('chicathanh.html')
chicago_map

In [ ]:
import folium
import pandas as pd

# Define the Chicago map with a higher zoom level
chicago_map = folium.Map(location=[41.84969736, -87.6252787], zoom_start=12)

# Assuming you have DataFrames 'kd' and 'vd' with latitude and longitude data
# Replace 'LATITUDE' and 'LONGITUDE' with your actual column names
url = "https://leafletjs.com/examples/custom-icons/{}".format
icon_image = url("leaf-red.png")
shadow_image = url("leaf-shadow.png")

icon = folium.CustomIcon(
    icon_image,
    icon_size=(38, 95),
    icon_anchor=(22, 94),
    shadow_image=shadow_image,
    shadow_size=(50, 64),
    shadow_anchor=(4, 62),
    popup_anchor=(-3, -76),
)
# Iterate through rows in 'kd' and 'vd' DataFrames and add markers
for index, row in kd.iterrows():
    latitude = row['LATITUDE']  # Replace 'LATITUDE' with your actual column name
    longitude = vd.iloc[index]['LONGITUDE']  # Replace 'LONGITUDE' with your actual column name

    # Create markers with latitude and longitude
    folium.Marker(location=[latitude, longitude]).add_to(chicago_map)

# Save the Chicago map to an HTML file
chicago_map.save('chicago.html')

# Display the Chicago map (if running in a Jupyter Notebook or interactive environment)
chicago_map

In [ ]:
ibm_db.close()