In [1]:
import pyodbc
import numpy as np
import pandas as pd
print("imported successfully")

imported successfully

In [3]:
SERVER = "LAPTOP-STSGIRJL\MINHAN"
DATABASE = 'NEWDATABASE'
USERNAME = 'sa'
PASSWORD = '12345'
connectionString = f'DRIVER={{SQL Server}};SERVER={SERVER};DATABASE={DATABASE};UID={USERNAME};PWD={PASSWORD}'
conn = pyodbc.connect(connectionString)
print("Connection Successfully!")

Connection Successfully!

In [4]:
def execute(statement, column: list):
    cursor = conn.cursor()
    cursor.execute(statement)
    records = cursor.fetchall()
    cursor.close()
    return pd.DataFrame(np.array(records), columns=[a for a in column])

In [14]:
result = execute("""
SELECT *
FROM SCHOOL s
""",[a for a in range(1,80)] )
total = result.copy()
total

,1,2,3,4,5,6,7,8,9,10,...,70,71,72,73,74,75,76,77,78,79
0,609966,Charles G Hammond Elementary School,ES,2819 W 21st Pl,Chicago,IL,60623,(773) 535-4580,http://schoolreports.cps.edu/SchoolProgressRep...,Pilsen-Little Village Elementary Network,...,150000000000000,1157809.0,1889554.625,41.852692,-87.696281,30,SOUTH LAWNDALE,12,10,"(41.85269133, -87.69627777)"
1,610539,Marvin Camras Elementary School,ES,3000 N Mango Ave,Chicago,IL,60634,(773) 534-2960,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,150000000000000,1137482.25,1919394.875,41.934967,-87.770164,19,BELMONT CRAGIN,30,25,"(41.93496641, -87.77016525)"
2,609852,Eliza Chappell Elementary School,ES,2135 W Foster Ave,Chicago,IL,60625,(773) 534-2390,http://schoolreports.cps.edu/SchoolProgressRep...,Ravenswood-Ridge Elementary Network,...,150000000000000,1161016.875,1934466.5,41.975868,-87.683258,4,LINCOLN SQUARE,47,20,"(41.975867, -87.68325438)"
3,609835,Daniel R Cameron Elementary School,ES,1234 N Monticello Ave,Chicago,IL,60651,(773) 534-4290,http://schoolreports.cps.edu/SchoolProgressRep...,Garfield-Humboldt Elementary Network,...,150000000000000,1151767.5,1908130.125,41.903786,-87.717964,23,HUMBOLDT PARK,26,25,"(41.90378521, -87.71796315)"
4,610521,Sir Miles Davis Magnet Elementary Academy,ES,6730 S Paulina St,Chicago,IL,60636,(773) 535-9120,http://schoolreports.cps.edu/SchoolProgressRep...,Englewood-Gresham Elementary Network,...,150000000000000,1166133.875,1859929.0,41.771221,-87.666565,67,WEST ENGLEWOOD,15,7,"(41.77122181, -87.66656657)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,610506,TEAM Englewood Community Academy High School,HS,6201 S Stewart Ave,Chicago,IL,60621,(773) 535-3530,http://schoolreports.cps.edu/SchoolProgressRep...,Southwest Side High School Network,...,150000000000000,1174730.375,1863740.125,41.781494,-87.634941,68,ENGLEWOOD,20,7,"(41.7814927, -87.63494163)"
562,610350,Robert A Black Magnet Elementary School,ES,9101 S Euclid Ave,Chicago,IL,60619,(773) 535-6390,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,150000000000000,1190807.375,1844986.0,41.729656,-87.576607,48,CALUMET HEIGHTS,8,4,"(41.72965645, -87.57660534)"
563,610154,Martin A Ryerson Elementary School,ES,646 N Lawndale Ave,Chicago,IL,60624,(773) 534-6700,http://schoolreports.cps.edu/SchoolProgressRep...,Garfield-Humboldt Elementary Network,...,150000000000000,1151558.25,1904275.25,41.893211,-87.718834,23,HUMBOLDT PARK,27,11,"(41.89321142, -87.71883334)"
564,610384,Infinity Math Science and Technology High School,HS,3120 S Kostner Ave,Chicago,IL,60623,(773) 535-4225,http://schoolreports.cps.edu/SchoolProgressRep...,West Side High School Network,...,150000000000000,1147521.25,1883405.125,41.836021,-87.734192,30,SOUTH LAWNDALE,22,10,"(41.83601953, -87.73419465)"
565,609870,Daniel J Corkery Elementary School,ES,2510 S Kildare Ave,Chicago,IL,60623,(773) 534-1650,http://schoolreports.cps.edu/SchoolProgressRep...,Pilsen-Little Village Elementary Network,...,150000000000000,1148304.875,1886901.375,41.8456,-87.731232,30,SOUTH LAWNDALE,22,10,"(41.84559878, -87.73122946)"

In [5]:
result = execute("""
SELECT TOP 10
    SCHOOL_ID,
    NAME_OF_SCHOOL,
    Elementary_Middle_or_High_School 
FROM SCHOOL s
ORDER BY SCHOOL_ID
""",['SCHOOL_ID',
     'NAME_OF_SCHOOL',
     'Elementary_Middle_or_High_School'] )
result

,SCHOOL_ID,NAME_OF_SCHOOL,Elementary_Middle_or_High_School
0,400018,Austin Business and Entrepreneurship Academy H...,HS
1,609674,Chicago Vocational Career Academy High School,HS
2,609676,Paul Laurence Dunbar Career Academy High School,HS
3,609678,William Jones College Preparatory High School,HS
4,609679,Charles Allen Prosser Career Academy High School,HS
5,609680,Walter Payton College Preparatory High School,HS
6,609682,Ellen H Richards Career Academy High School,HS
7,609691,North-Grand High School,HS
8,609692,Neal F Simeon Career Academy High School,HS
9,609693,George Westinghouse High School,HS

In [6]:
result = execute("""
SELECT 
    SCHOOL_ID,
    Name_of_School,
    Collaborative_Name
FROM SCHOOL
WHERE Collaborative_Name = 'WEST SIDE COLLABORATIVE'
""",[
    'SCHOOL_ID',
    'Name_of_School',
    'Collaborative Name'] )
result

,SCHOOL_ID,Name_of_School,Collaborative Name
0,609966,Charles G Hammond Elementary School,WEST SIDE COLLABORATIVE
1,609835,Daniel R Cameron Elementary School,WEST SIDE COLLABORATIVE
2,610056,Roswell B Mason Elementary School,WEST SIDE COLLABORATIVE
3,610123,William Penn Elementary School,WEST SIDE COLLABORATIVE
4,609863,Christopher Columbus Elementary School,WEST SIDE COLLABORATIVE
...,...,...,...
136,609834,Little Village Elementary School,WEST SIDE COLLABORATIVE
137,609812,William H Brown Elementary School,WEST SIDE COLLABORATIVE
138,610154,Martin A Ryerson Elementary School,WEST SIDE COLLABORATIVE
139,610384,Infinity Math Science and Technology High School,WEST SIDE COLLABORATIVE
140,609870,Daniel J Corkery Elementary School,WEST SIDE COLLABORATIVE

In [7]:
result = execute("""
SELECT Name_of_School, Safety_Score
FROM SCHOOL
WHERE Safety_Score >= 80
""",[
    'Name_of_School', 'Safety_Score'] )
result

                                       Name_of_School Safety_Score
0       Walter Payton College Preparatory High School           98
1                   Abraham Lincoln Elementary School           99
2           Northside College Preparatory High School           99
3                       Edison Park Elementary School           95
4             Alexander Graham Bell Elementary School           99
5                   Frederic Chopin Elementary School           86
6                       Oriole Park Elementary School           99
7          Andrew Jackson Elementary Language Academy           86
8   Amelia Earhart Options for Knowledge Elementar...           81
9                   Thomas J Waters Elementary School           85
10                Albert G Lane Technical High School           88
11               William H Prescott Elementary School           90
12   Mary E Courtenay Elementary Language Arts Center           99
13                    Philip Rogers Elementary School           81
14               Franklin Elementary Fine Arts Center           87
15                   Ellen Mitchell Elementary School           99
16        Stephen Decatur Classical Elementary School           99
17         James E McDade Elementary Classical School           99
18                     Mark Skinner Elementary School           87
19                     Norwood Park Elementary School           99
20                   John J Audubon Elementary School           95
21        Edgar Allan Poe Elementary Classical School           99
22       Annie Keller Elementary Gifted Magnet School           99
23                   James G Blaine Elementary School           99
24                Augustus H Burley Elementary School           99
25                   John C Coonley Elementary School           87
26                  Mount Greenwood Elementary School           84
27                           Talman Elementary School           99
28            Hawthorne Elementary Scholastic Academy           92
29                       South Loop Elementary School           84
30                   Arthur E Canty Elementary School           87
31                 Whitney M Young Magnet High School           95
32      William Jones College Preparatory High School           92
33             Ray Graham Training Center High School           90
34                       James Otis Elementary School           83
35                        Edgebrook Elementary School           99
36              Northside Learning Center High School           99
37                LaSalle Elementary Language Academy           99
38           Elizabeth H Sutherland Elementary School           86
39                    John B Murphy Elementary School           80
40                        Sauganash Elementary School           99
41                         Wildwood Elementary School           99
42  Thomas A Edison Regional Gifted Center Element...           91
43      Chicago High School for Agricultural Sciences           87

In [9]:
result = execute("""
SELECT Name_of_School, Average_Student_Attendance, Average_Teacher_Attendance
FROM SCHOOL
ORDER BY Average_Student_Attendance DESC, Average_Teacher_Attendance DESC 
""",[
    'Name_of_School', 'Average_Student_Attendance',' Average_Teacher_Attendance'
    ] )
result

,Name_of_School,Average_Student_Attendance,Average_Teacher_Attendance
0,John Charles Haines Elementary School,98.400002,96.199997
1,James Ward Elementary School,97.800003,96.900002
2,Rachel Carson Elementary School,97.599998,97.699997
3,Edgar Allan Poe Elementary Classical School,97.599998,97.199997
4,Orozco Fine Arts & Sciences Elementary School,97.599998,96.400002
...,...,...,...
561,Wendell Phillips Academy High School,63.0,96.099998
562,Dyett High School,62.5,93.5
563,Barbara Vick Early Childhood & Family Center,60.900002,95.5
564,Richard T Crane Technical Preparatory High School,57.900002,93.900002
565,Velma F Thomas Early Childhood Center,None,95.599998

In [17]:
cursor = conn.cursor()
cursor.execute("""
DELETE FROM SCHOOL 
WHERE Collaborative_Name = 'WEST SIDE COLLABORATIVE'
""")
cursor.commit()
cursor.close()
print("commit successfully")

commit successfully

In [19]:
result = execute("""
SELECT 
    Collaborative_Name,
    COUNT(Collaborative_Name)
FROM SCHOOL
GROUP BY Collaborative_Name
""",[
    'Collaborative Name',
    'AMMOUNT'] )
result

                   Collaborative Name AMMOUNT
0        FAR SOUTH SIDE COLLABORATIVE      65
1  NORTH-NORTHWEST SIDE COLLABORATIVE     149
2            SOUTH SIDE COLLABORATIVE      93
3        SOUTHWEST SIDE COLLABORATIVE     118

In [19]:
print("Em yêu ADY")

Em yêu ADY

In [26]:
cursor = conn.cursor()
cursor.execute("""
INSERT INTO SCHOOL (School_ID, Name_of_School, Elementary_Middle_or_High_School, Street_Address, City, State, ZIP_Code, Phone_Number, Link, Network_Manager, Collaborative_Name, Adequate_Yearly_Progress_Made, Track_Schedule, CPS_Performance_Policy_Status, CPS_Performance_Policy_Level, Healthy_Schools_Certified, Safety_Icon, Safety_Score, Family_Involvement_Icon, Family_Involvement_Score, Environment_Icon, Environment_Score, Instruction_Icon, Instruction_Score, Leaders_Icon, Leaders_Score, Teachers_Icon, Teachers_Score, Parent_Engagement_Icon, Parent_Engagement_Score, Parent_Environment_Icon, Parent_Environment_Score, Average_Student_Attendance, Rate_of_Misconducts_per_100_students, Average_Teacher_Attendance, Individualized_Education_Program_Compliance_Rate, Pk_2_Literacy, Pk_2_Math, Gr3_5_Grade_Level_Math, Gr3_5_Grade_Level_Read, Gr3_5_Keep_Pace_Read, Gr3_5_Keep_Pace_Math, Gr6_8_Grade_Level_Math, Gr6_8_Grade_Level_Read, Gr6_8_Keep_Pace_Math, Gr6_8_Keep_Pace_Read, Gr_8_Explore_Math, Gr_8_Explore_Read, ISAT_Exceeding_Math, ISAT_Exceeding_Reading, ISAT_Value_Add_Math, ISAT_Value_Add_Read, ISAT_Value_Add_Color_Math, ISAT_Value_Add_Color_Read, Students_Taking_Algebra, Students_Passing_Algebra, _9th_Grade_EXPLORE_2009, _9th_Grade_EXPLORE_2010, _10th_Grade_PLAN_2009, _10th_Grade_PLAN_2010, Net_Change_EXPLORE_and_PLAN, _11th_Grade_Average_ACT_2011, Net_Change_PLAN_and_ACT, College_Eligibility, Graduation_Rate, College_Enrollment_Rate, College_Enrollment_number_of_students, General_Services_Route, Freshman_on_Track_Rate, RCDTS_Code, X_COORDINATE, Y_COORDINATE, Latitude, Longitude, Community_Area_Number, Community_Area_Name, Ward, Police_District, Location) 
VALUES 
(7276942, N'FPT UNIVERSITY', N'UNI', N'2819 W 21st Pl ', N'Chicago', N'IL', 60623, N'(773) 535-4580', N'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609966.pdf', N'Fullerton Elementary Network', N'WEST SIDE COLLABORATIVE', 0, N'Standard', N'Not on Probation', N'Not Enough Data', 0, N'Average', 54, N'Average', 58, N'Weak', 37, N'Average', 41, N'Very Strong', 83, N'Very Strong', 88, N'Average', 51, N'Strong', 55, 95.0999984741211, 4.3000001907348633, 0, 97.699996948242188, 47.5, 39.900001525878906, 30.799999237060547, 27.799999237060547, 47.799999237060547, 38.599998474121094, 41.099998474121094, 38.5, 49.200000762939453, 55.400001525878906, 15.300000190734863, 30.5, 11.199999809265137, 12, -1.7999999523162842, -0.30000001192092896, N'Red', N'Yellow', N'NDA', N'NDA', N'NDA', N'NDA', N'NDA', N'NDA', N'NDA', N'NDA', N'NDA', N'NDA', N'NDA', N'NDA', 826, 30, N'NDA', 150000000000000, 1137482.25, 1919394.875, 41.934967041015625, -87.7701644897461, 19, N'BELMONT CRAGIN', 30, 25, N'(41.93496641, -87.77016525)')

""")
cursor.commit()
cursor.close()
print("commit successfully")

commit successfully

In [27]:
result = execute("""
SELECT 
    Collaborative_Name,
    COUNT(Collaborative_Name)
FROM SCHOOL
GROUP BY Collaborative_Name
""",[
    'Collaborative Name',
    'AMMOUNT'] )
result

                   Collaborative Name AMMOUNT
0        FAR SOUTH SIDE COLLABORATIVE      65
1  NORTH-NORTHWEST SIDE COLLABORATIVE     150
2            SOUTH SIDE COLLABORATIVE      93
3        SOUTHWEST SIDE COLLABORATIVE     118
4             WEST SIDE COLLABORATIVE       1

In [28]:
result = execute("""
SELECT 
	Name_of_School,
	Collaborative_Name
FROM SCHOOL
WHERE School_ID = 7276942
""",[
    'SCHOOL NAME',
    'Collaborative_Name'] )
result

      SCHOOL NAME       Collaborative_Name
0  FPT UNIVERSITY  WEST SIDE COLLABORATIVE

In [29]:
cursor = conn.cursor()
cursor.execute("""
UPDATE SCHOOL SET Name_of_School = 'FPT POLYTECHNIC' WHERE School_ID = 7276942
""")
cursor.commit()
cursor.close()
print("commit successfully")

commit successfully

In [30]:
result = execute("""
SELECT 
	Name_of_School,
	Collaborative_Name
FROM SCHOOL
WHERE School_ID = 7276942
""",[
    'SCHOOL NAME',
    'Collaborative_Name'] )
result

       SCHOOL NAME       Collaborative_Name
0  FPT POLYTECHNIC  WEST SIDE COLLABORATIVE