In [16]:
import pandas as pd

genre = pd.read_csv("./data/genre.csv", index_col=0)
a = []
for i in range(genre.shape[0]):
    a.append(genre.iloc[i].to_dict())
b = pd.DataFrame(a)
b

          id       name  movie_id
0         16  Animation       862
1         35     Comedy       862
2      10751     Family       862
3         12  Adventure      8844
4         14    Fantasy      8844
...      ...        ...       ...
91089  10751     Family    439050
91090     18      Drama    111109
91091     28     Action     67758
91092     18      Drama     67758
91093     53   Thriller     67758

[91094 rows x 3 columns]