In [2]:
import pandas as pd

genre = pd.read_csv("./data/ratings.csv", index_col=0)
genre.shape

(26024289, 3)

In [5]:
genre[0:10000000]

        movieId  rating   timestamp
userId
1           110     1.0  1425941529
1           147     4.5  1425942435
1           858     5.0  1425941523
1          1221     5.0  1425941546
1          1246     5.0  1425941556
...         ...     ...         ...
103170      784     2.0  1253550718
103170      786     2.5  1253457101
103170      788     2.0  1253550486
103170      858     4.0  1253456383
103170      912     3.0  1253456512

[10000000 rows x 3 columns]

In [6]:
import pandas as pd
from pymongo import MongoClient
from concurrent.futures import ThreadPoolExecutor
import time

# Function to insert data into MongoDB
def insert_data(chunk):
    client = MongoClient('localhost', 27017)
    db = client['DAP301m_movies']
    collection = db['ratings']
    collection.insert_many(chunk)
    client.close()

# Read CSV file into pandas DataFrame
df = pd.read_csv("./data/ratings.csv")

# Convert DataFrame to a list of dictionaries
data = df.to_dict(orient='records')

# Split data into chunks
chunk_size = 1000
data_chunks = [data[i:i + chunk_size] for i in range(0, len(data), chunk_size)]

# Number of threads (adjust as needed)
num_threads = 4

start_time = time.time()

# Use ThreadPoolExecutor for multithreading
with ThreadPoolExecutor(max_workers=num_threads) as executor:
    executor.map(insert_data, data_chunks)

end_time = time.time()

# Calculate and print the total running time
total_time = end_time - start_time
print(f"Total running time: {total_time} seconds")

Total running time: 727.3049163818359 seconds